html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

a,
u {
  text-decoration: none;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  position: relative;
  width: 100%;
  height: 28vw;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../assets/Images/direction.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.qr-code-text {
  color: #fffb00;
  font-size: 3vh;
  text-align: center;
}

.qr-code-text-2 {
  font-size: 2vh;
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: 9;
}

#look_for_surface_icon {
  position: absolute;
  width: 50vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background-image: url("../assets/Icons/flat_surface.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100dvh;
}
#close_ar_button {
  position: absolute;
  top: 10vw;
  right: 5vw;
  width: 7.5vw;
  height: 7.5vw;
  background-image: url("../assets/Icons/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

.header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10%;
}
.ar-exp {
  width: 100%;
  height: 5vw;
  background-image: url("../assets/Icons/AR_exp.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.middle-part {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.page-2-middle-part {
  top: 55% !important;
}

.page-2-middle-part p {
  text-align: center;
}
.text-message {
  text-align: center;
  font-size: 3.5vw;
  color: #fffb00;
  opacity: 0.75;
  margin-top: 0;
  margin-bottom: 0;
}

#ARButton {
  position: static !important;
  bottom: 0;
  text-align: center !important;
  width: 75% !important;
  /* height: 100% !important; */
  border-style: solid !important;
  border-width: 2px !important;
  border-color: rgb(255, 255, 255, 1) !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  margin: auto !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  font-size: 5vw !important;
}

#ARButton p {
  margin: 5% !important;
  font-size: 8vw !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
.footer {
  position: absolute;
  width: 50%;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 10%;
}

.steps,
.steps2 p {
  font-size: 1.8vh;
  color: #fffb00;
}

@media (min-aspect-ratio: 853/1280) {
  .text-message {
    font-size: 2.5vw;
  }

  #look_for_surface_icon {
    width: 25vw;
    height: 15vw;
  }
  .movie-title {
    width: 25vw;
    height: 7vw;
  }
  .middle-part {
    width: 55vw;
    top: 55%;
  }
  .ar-exp {
    font-size: 3vw;
  }
  .select-language {
    font-size: 3vw;
  }
  .lang-button p {
    font-size: 3vw;
  }
  .steps,
  .steps2 p {
    font-size: 1.8vh !important;
  }
  .metavian {
    width: 30vw;
    height: 8vw;
  }
}

@media (min-aspect-ratio: 4/3) {
  .header {
    position: relative;
  }
  .middle-part {
    position: relative;
    top: 50vw;
  }
  .footer {
    position: relative;
  }
  .image {
    width: 40vw;
    height: 20vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (orientation: landscape) {
  /* #overlay {
    transform: rotateZ(90deg);
  } */

  #qr-code {
    margin: auto;
    margin-top: 3%;
    width: 25vw;
    height: 25vw;
  }

  .main-container {
    height: max-content;
  }
  .header {
    margin-bottom: 10%;
  }
  .poster {
    height: 45vw;
  }
  .middle-part {
    top: 40vw;
    /* transform: translate(-50%, 0); */
    margin-bottom: 20%;
  }

  .page-2-middle-part {
    transform: translate(-50%, 0);
  }
  .steps,
  .steps2 p {
    font-size: 3vh !important;
  }

  .footer-2 {
    margin-top: 100% !important;
  }

  #close_ar_button {
    top: 5vh;
    right: 5vh;
    width: 5vh;
    height: 5vh;
  }
}
